<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1>Welcome Admin
    </h1>

    <form action="/logout" method="Post">
        <button>logout</button>
        <button><a href="/dashboard">Dashboard</a></button>

        <button><a href="/addBook">Add Book</a></button>
        <button><a href="/deleteBook">Delete Book</a></button>
        <button><a href="/editBook">Edit Book</a></button>

    </form>

    {{!-- {{#each data}}
    <tr>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
    </tr>
    --}}

    <table>
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Book Description</th>
            <th>Book Availability</th>
            <th>AddedBy</th>


        </tr>
        {{#each Books}}
        <tr>

            <td>{{_id}}</td>
            <td>{{BName}}</td>
            <td>{{BDescription}}</td>
            <td>{{BAvailability}}</td>
            <td>{{AddedBy}}</td>


        </tr>
        {{/each}}
    </table>
</body>

</html>